* {
    display: block;
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
    width: 100%;
}

html {
    background: #f1f1f1;
}

/* --------------------- FireWorks ------------------------ */



/* ------------------------- Website ---------------------------- */

#myRange {
    display: none;
}

#navbar #nav_links .nav_link {
    border-radius: 15px;
    border: 1px solid black;
    background: linear-gradient(#ebe9e7,#8b8f8c);
    box-shadow: 2px 2px 8px 1px #888888;
}

#navbar #nav_links .nav_link:hover {
        background: linear-gradient(#8b8f8c,#424141)
    }

#content {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#jumbotron #me {
    width: 200px;
    height: 225px;
    border-radius: 100%;
    box-shadow: 2px 2px 8px 1px #888888;
    margin: 45px auto;
}

#jumbotron #me img{
    padding: 2px;    
}

#me img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#transition1 {
    width: 100%;
    height: 600px;
    
    background-image: url("res/background.png");
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about_me_vals {
    width: 160px;
    height: 500px;
    margin: 25px 0 25px 0;
    text-align: center;
}

.about_me_val {
    width: 75px;
    height: 75px;
    margin: auto;
}

.about_me_val:hover {
    box-shadow: 2px 2px 8px 1px #888888;
}

#about_right {
    display: inline-block;
    width: 50%;
    height: 550px;
    margin: 25px 25px 25px 10px;
    float: right;
    box-shadow: 2px 2px 8px 1px #888888;
}

.activeimg {
    box-shadow: 2px 2px 8px 1px #888888;
}

.slide {
    visibility: hidden;
    position: fixed;
}

.slide h1 {
    text-align: center;
}

.activeslide {
    visibility: visible;
    width: 80%;
    height: 85%;
    margin: 15px auto;
    box-shadow: 2px 2px 8px 1px #888888;
    padding: 25px;
    position: relative;
}

.skill {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    width: 150px;
    height: 20px;
}

.skill::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.skill:focus {
  outline: none;
}

.skill::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.skill::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.skill::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.skill::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.skill::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.skill:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.skill::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.skill::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.skill::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.skill:focus::-ms-fill-lower {
  background: #3071a9;
}

.skill::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.skill:focus::-ms-fill-upper {
  background: #367ebd;
}

.skill_container {
    width: 100%;
    height: 70px;
}

.skillset {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    display: inline-block;
    float: left;
}

.skillset h2 {
    margin: 10px 0 0 24px;
    text-align: center;
}

.skill_name {
    display: inline-block;
    float: right;
}

#skill_wrapper {
    width: 100%;
    height: 400px;
    margin: 15px auto;
}

#experiences {
    
}
    
#experiences li {
    margin-top: 10px;
}

#aboutme {
    width: 100%;
    height: 600px;
    background-color: white;
    box-shadow: 2px 2px 8px 1px #888888;
    position: relative;
    z-index: 10;
}

#transition2 {
    width: 100%;
    height: 200px;
    clear: both;
    position: relative;
    z-index: -1;
    box-shadow: inset 0 3px 10px 0px #888888;
    background-color: #f1f1f1;
}

/* Projects */

#projects {
    width: 100%;
    height: 525px;
    clear: both;
    background-color: white;
    position: relative;
    z-index: 10;
    box-shadow: 2px 2px 8px 1px #888888;
    margin-bottom: 200px;
    padding-top: 25px;
    overflow: hidden;
}

.project {
    position: relative;
    width: 95%;
    margin: auto;
    height: 425px;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 8px 1px #888888;
    
}

.project p {
    font-size: 20px;
}

#left_arr,#right_arr,.bull {
    font-size: 60px;
    display: inline;
    overflow-x:  hidden;
}

#btnleft {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: white;
}


#btnright {
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: white;
}

.project h2 {
    text-align: center;
}

.project p {
    padding-top: 10px;
}

#contact {
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 2px 2px 8px 1px #888888;
}

#contact h1 {
    text-align: center;
    padding-bottom: 25px;
}

#contact h2 {
    font-style: normal;
    font-weight: 1;
}

/* Desktop */

@media(min-width: 980px) {
    
    /*
    body {
        background-image: url("res/background2.png");
        background-size: 100% 100%;
    }
    */
    
    /* Wrapper */
    
    #wrapper {
        width: 100%;
        height: 2000px;
    }

    /* Navagation Bar */

    #navbar {
        width: 100%;
        height: 75px;
        margin-top: 25px;
    }

    #navbar #nav_links {
        width: 930px;
        height: 100%; 
        margin: auto;
    }

    #navbar #nav_links .nav_link {
        width: 200px;
        height: 100%;
        display: inline-block;
        float: left;
        margin-left: 25px;
        overflow-x: hidden;
    }

    #navbar #nav_links .nav_link:not(:last-child) {
        
    }
    
    #navbar #nav_links .nav_link a{
        width: 100%;
        height: 100%;

        font-family: serif;
        font-size: 20px;
        color: black;
        text-decoration:  none;
        text-align: center;
        line-height: 75px;
    }
    
    /* Jumbotron */

    #jumbotron {
        width: 100%;
        height: 500px;
        background-color: white;
        box-shadow: 2px 2px 8px 1px #888888;
        margin: 75px auto 0px auto;
        padding-top: 1px;
        position: relative;
        z-index: 10;
    }
    
    #jumbotron #me {
        width: 270px;
        height: 300px;
        border-radius: 100%;
        box-shadow: 2px 2px 8px 1px #888888;
        margin: 35px auto;
    }
    
    #jumbotron #jumbo_content {
        width: 400px;
        height: 100px;
        margin: 75px auto;
        text-align: center;
    }
    
    #jumbotron #jumbo_content h1 {
        font-size: 40px;
    }
    
    #jumbotron #jumbo_content p {
        font-size: 22px;
    }
    
    /* About Me */
    
    #aboutme {
        width: 100%;
        height: 600px;
        background-color: white;
        box-shadow: 2px 2px 8px 1px #888888;
        position: relative;
        z-index: 10;
    }
    
    #aboutme #about_left {
        display: inline-block;
        width: 160px;
        height: 550px;
        margin: 25px;
        float: left;
        box-shadow: 2px 2px 8px 1px #888888;
    }

    #aboutme #about_left input {
        margin: 25px 75px;
    }
    
    /* The slider itself */
    .slider {
        width: 20px;
        height: 500px;
        -webkit-appearance: slider-vertical;
        writing-mode: bt-lr;
        display: inline-block;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: slider-vertical;
        border: none;
        height: 50px;
        width: 50px;
    }

    .slider::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 75px;
      width: 75px;
      background: #ffffff;
      cursor: pointer;
    }

    .slider::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 75px;
      width: 75px;
      background: #ffffff;
      cursor: pointer;
    }
    
    #about_me_vals .about_me_val:not(:last-child) {
        margin-bottom: 140px;
    }
    
    #contact_info {
        width: 60%;
        margin: auto;
        overflow: hidden;
    }

    #contact #left_contact {
        display: inline-block;
        float: left;
        margin-left: 25px;
    }

    #contact #right_contact {
        float: right;
        margin-right: 25px;
    }
    
    
}

/* Tablet */

@media(max-width: 979px) and (min-width: 720px) {
    
    /*
    body {
        background-image: url("res/background2.png");
        background-size: 100% 100%;
    }
    */
    
    /* Wrapper */
    
    #wrapper {
        width: 100%;
        height: 2000px;
    }

    /* Navagation Bar */

    #navbar {
        width: 100%;
        height: 50px;
        margin-top: 25px;
    }

    #navbar #nav_links {
        width: 700px;
        height: 100%; 
        margin: auto;
        
    }

    #navbar #nav_links .nav_link {
        width: 140px;
        height: 100%;
        display: inline-block;
        float: left;
        margin-left: 25px;
    }
    
    #navbar #nav_links .nav_link:not(:last-child) {
        
    }
    
    #navbar #nav_links .nav_link a{
        width: 100%;
        height: 100%;

        font-family: serif;
        font-size: 20px;
        color: black;
        text-decoration:  none;
        text-align: center;
        line-height: 45px;
    }
    
    /* Jumbotron */

    #jumbotron {
        width: 100%;
        height: 450px;
        background-color: white;
        box-shadow: 2px 2px 8px 1px #888888;
        margin: 50px auto 0px auto;
        padding-top: 1px;
        position: relative;
        z-index: 10;
    }
    
    #jumbotron #me {
        width: 225px;
        height: 250px;
        border-radius: 100%;
        box-shadow: 2px 2px 8px 1px #888888;
        margin: 40px auto;
    }
    
    #jumbotron #jumbo_content {
        width: 350px;
        height: 80px;
        margin: 70px auto;
        text-align: center;
    }
    
    #jumbotron #jumbo_content h1 {
        font-size: 36px;
    }
    
    #jumbotron #jumbo_content p {
        font-size: 20px;
    }
    
    /* About Me */
    
    #aboutme #about_left {
        display: inline-block;
        max-width: 160px;
        height: 550px;
        margin: 25px;
        float: left;
        box-shadow: 2px 2px 8px 1px #888888;
    }
    
    #aboutme #about_left input {
        margin: 25px;
    }
    
    /* The slider itself */
    .slider {
        width: 20px;
        height: 500px;
        -webkit-appearance: slider-vertical;
        writing-mode: bt-lr;
        display: inline-block;
    }
    
    #about_me_vals .about_me_val:not(:last-child) {
        margin-bottom: 140px;
    }
    
    /* Skills */
    
    /*Contact*/
    
    #contact_info {
        width: 60%;
        margin: auto;
        overflow: hidden;
    }

    #contact #left_contact {
        display: inline-block;
        float: left;
        margin-left: 25px;
    }

    #contact #right_contact {
        float: right;
        margin-right: 25px;
    }
    
}

/* Mobile */

@media(max-width: 719px) {
    
    /*
    body {
        background-image: url("res/background2.png");
        background-size: 100% 100%;
    }
    */
    
    html,body {
        overflow-x: hidden;
    }
    
    /* Wrapper */
    
    #wrapper {
        width: 100%;
        height: 2000px;      
    }
    
    /* Navagation Bar */
    
    #navbar {
        width: 100%;
        height: 200px;
        margin-top: 2px;
    }

    #navbar #nav_links {
        width: 98%;
        height: 100%; 
        margin: auto;
    }

    #navbar #nav_links .nav_link {
        width: 100%;
        height: 50px;
        display: block;
        float: left;
        border-bottom: 1px solid black;
    }
    
    

    #navbar #nav_links .nav_link a {
        width: 100%;
        height: 100%;

        font-family: serif;
        font-size: 20px;
        color: black;
        text-decoration:  none;
        text-align: center;
        line-height: 40px;
    }
    
    /* Jumbotron */
    
    #jumbotron {
        width: 100%;
        height: 400px;
        background-color: white;
        box-shadow: 2px 2px 8px 1px #888888;
        margin: 50px auto 0px auto;
        padding-top: 1px;
        overflow: hidden;
        position: relative;
        z-index: 10;
    }
    
    /*
    #jumbotron #me {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        box-shadow: 2px 2px 8px 1px #888888;
        margin: 25px auto;
    }
    */
    
    #jumbotron #jumbo_content {
        width: 305px;
        height: 75px;
        margin: 50px auto;
        text-align: center;
        overflow: hidden;
    }
    
    #jumbotron #jumbo_content p {
        font-size: 18px;
    }
    
    @media (max-width: 355px) { 
       
        #jumbotron #jumbo_content{
            width: 250px
        }
        
    }
     
    /* About Me */
    
    #aboutme {
        width: 100%;
        height: 800px;
        background-color: white;
        box-shadow: 2px 2px 8px 1px #888888;
        position: relative;
        padding-top: 25px;
        z-index: 10;
        font-size: 21.5px;
    }
    
    #about_left {
        width: 100%;
        height: 225px;
        box-shadow: 2px 2px 8px 1px #888888;
        padding-top: 25px;
    }
    
    #aboutme #about_left input {
        margin: 0 0 0 30px;
    }
    
    /* The slider itself */
    .slider {
        width: 20px;
        height: 200px;
        -webkit-appearance: slider-vertical;
        writing-mode: bt-lr;
        display: inline-block;
    }
    
    #about_me_vals {
        width: 90%;
        height: 200px;
        margin: auto;
    }
    
    .about_me_val {
        width: 28%;
        height: 69%;
        margin: 25px 10px 0px 10px;
        display: inline-block;
        float: left;
    }
    
    #about_me_vals .about_me_val:not(:last-child) {
        margin-bottom: 15px;
    }
    
    #about_right {
        width: 100%;
        height: 750px; /*700px*/
        margin: 25px 0 0 0;
        background-color: white;
        float: right;
        position: relative;
        z-index: 10;
        box-shadow: 2px 2px 8px 1px #888888;
    }
    
    .activeslide {
        width: 80%;
        height: auto;
        background-color: white;
        margin: 25px auto;
        box-shadow: 2px 2px 8px 1px #888888;
        padding: 25px;
        visibility: visible;
    }
    
    #skills {
        height: 650px;
    }
    
    .skill {
        width: 90%;
        
    }

    .skillset h2 {
        margin: 10px 0 0 5px;
        text-align: center;
    }
    
    #contact {
        height: 400px;
    }

    
    #contact_info {
        width: 90%;
        margin: auto;
        overflow: hidden;
    }

    #contact #left_contact {
        display: inline-block;
        float: left;
    }

    #contact #right_contact {
        float: right;
        margin-right: 25px;
    }
    
    @media (max-width: 500px) {
        
        #contact {
            height: 550px;
        }
        
        #contact_info {
            padding: 0px;
            width: 233px;
            margin: auto;
            overflow: hidden;
        }
        
        #left_contact {
            /*position: absolute;*/
            width: 130px; 
            padding-bottom: 5px;
            border-bottom: 1px solid black;
        }
        
        #right_contact {
            /*position: absolute;*/
            display: block;
            width: 205px;
            margin: 0px;
            padding: 0;
            /*margin-top: 210px;*/
            
        }
        
        #aboutme {
            font-size: 18px;
        }
        
        .about_me_val:first-child {
            margin-left: 20px;
        }
        
        .about_me_val {
            width: 25%;
            height: 55%;
            margin: 35px 10px 0px 10px;
        }
        
    }
    
    @media (max-width: 400px) { 
        
        .skill_container {
            width: 100%;
            height: 90px;
            margin: 8px 0 0 0;
        }

        .skillset {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            display: block;
        }

        .skillset h2 {
            margin: 6px 0 0 25px;
            text-align: center;
        }

        .skill_name {
            display: block;
            float: none;
            text-align: center;
        }

        #skill_wrapper {
            width: 99%;
            height: 530px;
            margin: -25px auto;
        }

        .skill {
            width: 100%;
        }
        
        #aboutme {
            font-size: 18px;
        }
        
        #about_me_vals {
            width: 220px;
            padding: 0px;
            margin: 0 auto 0 auto;
        }
        
        .about_me_val:first-child {
            margin: 70px 5px 0px 5px;
        }
        
        .about_me_val {
            width: 60px;
            height: 60px;
            margin: 70px 5px 0px 5px;
        }
        
    }
  
}




